<%=form_for([@user, @user.shirts.build]) do |f|%>
  <% if @shirt!=nil && @shirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shirt.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @shirt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
			<%=f.file_field :paperpic%>
	</p>
	<p>
		<%=f.submit%>
	</p>
<%end%>